In [1]:
import pandas as pd

In [2]:
pd.Series?

pd.Series(
    data=None,
    index=None,
    dtype=None,
    name=None,
    copy=False,
    fastpath=False,
)

- The Pandas Series Object 
 - Syntax:  
     pd.Series(data, index=index)
     where index is an optional argument, and data can be one of many entities.
     - data can be a list or NumPy array, in which case index defaults to an integer sequence
     - data can be a scalar, which is repeated to fill the specified index
     - data can be a dictionary, in which index defaults to the sorted dictionary keys

In [3]:
#int demo[6]={}
demo=pd.Series([1,2,3,4],index=['a','b','d','f'])
demo

a    1
b    2
d    3
f    4
dtype: int64

In [4]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [5]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [6]:
data.index

RangeIndex(start=0, stop=4, step=1)

Dealing with Data

In [7]:
data[1]

0.5

In [8]:
data[1:6]

1    0.50
2    0.75
3    1.00
dtype: float64

- Series as generalized NumPy array

In [9]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

- Series as specialized dictionary

In [10]:
dist={'Rima': 8.5,
    'Krishna': 8.9,
    'Pinal': 8.6,
    'Vipa': 6.5}
dist

{'Rima': 8.5, 'Krishna': 8.9, 'Pinal': 8.6, 'Vipa': 6.5}

In [11]:
StudentData=pd.Series(dist)
StudentData

Rima       8.5
Krishna    8.9
Pinal      8.6
Vipa       6.5
dtype: float64

In [12]:
StudentData['Vipa']

6.5

In [13]:
population_dict = {'California': 38332521,
 'Texas': 26448193,
 'New York': 19651127,
 'Florida': 19552860,
 'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [14]:
population['California']

38332521

In [15]:
 population['California':'Illinois']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

References
-

1. Python Data Science Handbook
   by Jake VanderPlas