Steps to connect MySQL database in Python using MySQL Connector Python

1. Install MySQL Connector Python using pip.
2. Use the  mysql.connector.connect()  method of MySQL Connector Python with required parameters to connect MySQL.
3. Use the connection object returned by a  connect()  method to create a cursor object to perform Database Operations.
4. The cursor.execute() to execute SQL queries from Python.
5. Close the Cursor object using a cursor.close() and MySQL database connection using connection.close() after your work  completes.

In [ ]:
pip install mysql connector

In [1]:
import mysql.connector

Syntax: connect(host="localhost", user="root", passwd="root")

Host Name  – is the server name or Ip address on which MySQL is running. if you are running on localhost, then you can use localhost, or it’s IP, i.e. 127.0.0.0
Username –  i.e., the username that you use to work with MySQL Server. The default username for the MySQL database is a root
Password – Password is given by the user at the time of installing the MySQL database. If you are using root then you won’t need the password.
Database Name – Database name to which you want to connect. Here we are using Database named ‘Electronics‘  because we have already created this for our example.

In [2]:
mydb=mysql.connector.connect(host="localhost", user="root", passwd="root")#database="temp"

In [3]:
mycur=mydb.cursor()

In [4]:
mycur.execute("show databases")
for i in mycur:
    print(i)

('datas',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('temp',)
('world',)

In [5]:
mycur.execute("use temp")

In [12]:
mycur.execute("select * from employee where sal > 2800")
for i in mycur:
    print(i)

(2, 'Tina', 3000.0)
(4, 'xyz', 4555.0)
(5, 'xyz', 4555.0)

In [11]:
for i in mycur:
    print(i)

References
1. https://pynative.com/python-mysql-database-connection/